@model UI.Models.Usuario
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout_Entrar.cshtml";
}

    <h2>Registrarse</h2>

    @using (Html.BeginForm("Registrar", "Entrar", FormMethod.Post, new { id = "frmRegistro" }))
    {
        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">Identificación:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usu_identificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usu_identificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nombre:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usu_nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usu_nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Apellido:</label>
                <div class="col-md-10">
                    <input type="text" name="usu_apellido" value="" class="form-control" autocomplete="off" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Correo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usu_correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usu_correo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Fecha de Nacimiento:</label>
                <div class="col-md-10">
                    <input type="text" id="usu_fecha_nacimiento" name="usu_fecha_nacimiento" value="" class="form-control" autocomplete="off" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Teléfono:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usu_telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usu_telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Clave:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usu_clave, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usu_clave, "", new { @class = "text-danger" })
                </div>
            </div>
            <label id="msg-registrar" value=""></label>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrar cuenta" class="btn btn-default" autocomplete="off" />
                </div>
            </div>
        </div>
    }
    <div>
        <a href="#" onclick="pRegresar()">Regresar</a>
    </div>
      

        <script>
            $(document).ready(function () {
                //Ajax encargado de realizar el submit del formulario de consulta
                $("#frmRegistro").on("submit", function (e) {
                    e.preventDefault();
                    pRegistro($(this).attr("action"), $(this).serialize());
                });
            });

            function pRegistro(vloAccion, vloDatos) {
                $.ajax({
                    url: vloAccion, //Se agrega el action del formulario
                    method: 'POST', //Se agrega el metodo de comunicación del formulario
                    data: vloDatos, //serializa toda la data del formulario para poder recibir el modelo en el controlador
                    success: function (respuesta) {
                        if (respuesta === 'REGISTRADO') {
                            $("#msg-registrar").text("Usuario registrado.");
                        }
                        else {
                            $("#msg-registrar").text(respuesta);
                        }
                    },
                    error: function (respuesta) {
                        console.log(respuesta);
                    }
                });
            };

            function pRegresar() {
                $.ajax({
                    url: '../Entrar/IniciarSesion',
                    method: 'POST',
                    data: {},
                    success: function (respuesta) {
                        $('#pnlPantallas').empty();
                        $('#pnlPantallas').html(respuesta);
                    },
                    error: function (respuesta) {
                        console.log(respuesta);
                    }
                });
            };
        </script>
