@model IEnumerable<UI.Models.Cliente>
<div id="contenedor_cliente">
    <h2>Mantenimiento de Cliente</h2>

    <p>
        <a href="#" onclick="pAgregar()">Agregar Cliente</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Identificacion
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Correo
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Telefono
            </th>
            <th>
                Clave
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cli_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_fecha_nacimiento).ToString().Substring(0, 10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cli_clave)
            </td>
            <td>
                <a href="#" class="btn-link" onclick="pEditar(@item.cli_identificacion)"><i class="fa fa-fw fa-edit"></i></a>
                |
                <a href="#" class="btn-link" onclick="pEliminar(@item.cli_identificacion)"><i class="fa fa-fw fa-trash"></i></a>
            </td>
        </tr>
    }

    </table>
</div>
<div id="detalle_cliente">

</div>
<script>
    function pAgregar() {
        $.ajax({
            url: '../Cliente/Create',
            method: 'POST',
            data: { },
            success: function (respuesta) {
                $('#detalle_cliente').html(respuesta);
                $('#contenedor_cliente').addClass('hide');
                $('#detalle_cliente').removeClass('hide');
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };
    function pEditar(pvnId) {
        $.ajax({
            url: '../Cliente/Edit',
            method: 'POST',
            data: { id: pvnId },
            success: function (respuesta) {
                $('#detalle_cliente').html(respuesta);
                $('#contenedor_cliente').addClass('hide');
                $('#detalle_cliente').removeClass('hide');
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };

    function pEliminar(pvnId) {
        $.ajax({
            url: '../Cliente/Delete',
            method: 'POST',
            data: { id: pvnId },
            success: function (respuesta) {
                alert(respuesta);
                pInicio();
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };

    function pInicio() {
        $.ajax({
            url: '../Cliente/Index',
            method: 'POST',
            data: {},
            success: function (respuesta) {
                $('#pnlPantallas').empty();
                $('#pnlPantallas').html(respuesta);
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };
</script>