@model IEnumerable<UI.Models.LibroXCategoria>

@{
    ViewBag.Title = "CargarAutores";
}

<h2>Autores</h2>
@using (Html.BeginForm("Guardar", "Libro", FormMethod.Post, new { id = "frmLibroXAutor" }))
{
    <table class="table table-responsive" id="tbllibrosXautor">
        <thead>
            <tr>
                <th>

                </th>
                <th class="hide">
                    @Html.DisplayNameFor(model => model.ca)
                </th>
                <th class="hide">
                    @Html.DisplayNameFor(model => model.aut_codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.aut_nombre)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="lxa_activo" value="" />
                    </td>
                    <td class="hide">
                        @Html.DisplayFor(modelItem => item.lib_codigo)
                    </td>
                    <td class="hide">
                        <input type="text" name="aut_codigo" value="@item.aut_codigo" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.aut_nombre)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
