@model IEnumerable<UI.Models.LibroXAutor>

@{
    ViewBag.Title = "CargarAutores";
}

<h2>Autores</h2>
@using (Html.BeginForm("Guardar", "Libro", FormMethod.Post, new { id = "frmLibroXAutor" }))
{
    <table class="table table-responsive">
        <tr>
            <th>
                
            </th>
            <th class="hide">
                @Html.DisplayNameFor(model => model.lib_codigo)
            </th>
            <th class="hide">
                @Html.DisplayNameFor(model => model.aut_codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aut_nombre)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="lxa_activo" value="" />
                </td>
                <td class="hide">
                    @Html.DisplayFor(modelItem => item.lib_codigo)
                </td>
                <td class="hide">
                    @Html.DisplayFor(modelItem => item.aut_codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aut_nombre)
                </td>

            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //Ajax encargado de realizar el submit del formulario de consulta
        $("#frmLibroXAutor").on("submit", function (e) {
            e.preventDefault();
            pMantenimiento($(this).attr("action"), $(this).serialize())
        });
    });

    function pMantenimiento(vloAccion, vloDatos) {
        $.ajax({
            url: vloAccion, //Se agrega el action del formulario
            method: 'POST', //Se agrega el metodo de comunicación del formulario
            data: vloDatos, //serializa toda la data del formulario para poder recibir el modelo en el controlador
            success: function (respuesta) {
                if (respuesta === 'AGREGADO') {
                    alert("Cliente agregado.");
                }
                else {
                    alert(respuesta);
                }
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };

</script>