@model UI.Models.Categoria

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Guardar","Categoria", FormMethod.Post, new { id = "frmCategoria" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Categoria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cat_codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="#" onclick="pRegresar()">Atras</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        //Ajax encargado de realizar el submit del formulario de consulta
        $("#frmCategoria").on("submit", function (e) {
            e.preventDefault();
            pMantenimiento($(this).attr("action"), $(this).serialize())
        });
    });

    function pMantenimiento(vloAccion, vloDatos) {
        $.ajax({
            url: vloAccion, //Se agrega el action del formulario
            method: 'POST', //Se agrega el metodo de comunicación del formulario
            data: vloDatos, //serializa toda la data del formulario para poder recibir el modelo en el controlador
            success: function (respuesta) {
                if (respuesta === 'AGREGADO') {
                    alert("Categoria agregado.");
                }
                else {
                    alert(respuesta);
                }
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };


    function pRegresar() {
        $.ajax({
            url: '../Categoria/Index',
            method: 'POST',
            data: {},
            success: function (respuesta) {
                $('#pnlPantallas').empty();
                $('#pnlPantallas').html(respuesta);
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };
</script>


