@model IEnumerable<UI.Models.Categoria>

@{
    ViewBag.Title = "Index";
}
<div id="contenedor_categoria">
    <h2>Index</h2>

    <p>
        <a href="#" onclick="pAgregar()">Agregar Categoria</a>
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cat_codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cat_descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_descripcion)
                </td>
                <td>
                    <a href="#" class="btn-link" onclick="pEditar()">Editar</a>
                    |
                    <a href="#" class="btn-link" onclick="pEliminar(@item.cat_codigo)">Borrar</a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.cat_codigo }) |
                        @Html.ActionLink("Details", "Details", new { id = item.cat_codigo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.cat_codigo })*@
                </td>
            </tr>
        }

    </table>
    </div>
    <div id="detalle_categoria">

    </div>
    <script>
        function pAgregar() {
            $.ajax({
                url: '../Categoria/Create',
                method: 'POST',
                data: {},
                success: function (respuesta) {
                    $('#detalle_categoria').html(respuesta);
                    $('#contenedor_categoria').addClass('hide');
                    $('#detalle_categoria').removeClass('hide');
                },
                error: function (respuesta) {
                    console.log(respuesta);
                }
            });
        };

        function pEditar() {
            $.ajax({
                url: '../Categoria/Edit',
                method: 'POST',
                data: {},
                success: function (respuesta) {
                    $('#detalle_categoria').html(respuesta);
                    $('#contenedor_categoria').addClass('hide');
                    $('#detalle_categoria').removeClass('hide');
                },
                error: function (respuesta) {
                    console.log(respuesta);
                }
            });
        };

        function pEliminar(pvnId) {
            $.ajax({
                url: '../Categoria/Delete',
                method: 'POST',
                data: { id: pvnId},
                success: function (respuesta) {
                    alert(respuesta);
                    pInicio();
                },
                error: function (respuesta) {
                    console.log(respuesta);
                }
            });
        };

        function pInicio() {
            $.ajax({
                url: '../Categoria/Index',
                method: 'POST',
                data: {},
                success: function (respuesta) {
                    $('#pnlPantallas').empty();
                    $('#pnlPantallas').html(respuesta);
                },
                error: function (respuesta) {
                    console.log(respuesta);
                }
            });
        };
    </script>


